*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;

}
button{
padding: 10px 25px;
border-radius: 20px;
background-color: aquamarine;
border: none;
outline: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.light{
  background: white;
  color: black;
}
.dark{
  background: rgb(43, 42, 42);
  color: white;
}